<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>You Are Using Ejs As Your Frontend</h1>
   <p><%= 2 * 2 %></p>
   <p><%= Math.random() %></p>
   <h1><%= name %></h1>
<% if (name == "lola") { %>
    <p>welcome to your dashboard</p>
<% } %>


</body>
</html>